@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    justify-content: center;
    height: 98vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 16, 40);
}

h1 {
    font-size: 45px;
    color: rgb(255, 215, 175);
    font-family: "Bungee", sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    body {
        justify-content: center;
    }

h1{
    font-size: 35px;
}

    .outerBox {
        min-width: 280px !important;
        min-height: 280px !important;
        padding: 10px;
    }
}



body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://cdn.vectorstock.com/i/500p/90/61/tic-tac-toe-xo-game-seamless-pattern-black-board-vector-6779061.jpg);
    background-size: contain;
    opacity: 0.3;
    /* Adjust the opacity of the image */
    z-index: -1;
    /* Send the image behind the content */
}

.outerBox {
    display: flex;
    flex-wrap: wrap;
    min-width: 340px;
    min-height: 340px;
    gap: 2px;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 3);
    width: calc(100% / 3.049);
    font-size: 300%;
    background-color: #EEEDEB;
}

.reset {
    font-size: 20px;
    border-radius: 20px;
    margin: 25px 10px;
    width: 200px;
    padding: 16px 10px;
}

.reset:hover {
    background-color: #538f9f;
    color: #CCD3CA;
}

.reset:active {
    background-color: #A34343;
    color: #fff1ea;
}

.radius1 {
    border-top-left-radius: 10px;
}

.radius2 {
    border-top-right-radius: 10px;
}

.radius3 {
    border-bottom-right-radius: 10px;
}

.radius4 {
    border-bottom-left-radius: 10px;
}


.styleX {
    background-color: #A34343;
    color: #fff1ea;
}

.styleO {
    background-color: #50727B;
    color: #CCD3CA;
}